@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:opsz@8..60&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Source Serif 4', serif;
}
html,body{
    height: 100%;
    width: 100%;
}
.loader{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000a4;
    color: white;
    position: fixed;
}
.loader h1{
    font-size:6vw ;
    font-weight: 100;
    line-height: 5vw;
    position: relative;
    letter-spacing: -3px;
    z-index: 9;
    text-align: center;
}
.loader video{
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    z-index: 6;
}
.yellow1{
    height: 100%;
    width: 100%;
    background-color: #f5e41b;
    position: absolute;
    z-index: 7;
}
.yellow2{
    height: 100%;
    width: 100%;
    background-color: #f5e41b;
    position: absolute;
    z-index: 8;
}
.page1{
    height: 100vh;
    width: 100%;
    background-color: #f5e41b;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.page1 h1{
    font-size:6vw ;
    font-weight: 100;
    line-height: 5vw;
    letter-spacing: -3px;
    text-align: center;
}
.page2{
    height: 100vh;
    width: 100%;
    background-color: #000000;
}
.page3{
    height: 100vh;
    width: 100%;
    background-color: #ffffff;
}